.details{
    
    display: grid;
    
}
.details_card{
    max-width: 467px;
    background-color: rgb(216, 31, 31);
    margin: 1rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all ease 0.3s;
    box-shadow: 10px 10px 15px rgb(134, 133, 133);
    border-radius:1rem;
}
.details_card:hover{
    transform: translate(10px,-3px);
    background-color: rgb(10, 28, 129);
}

.details_roll{
    font-size: 2rem;
    background-color: whitesmoke;
    padding: .3rem .5rem;
    box-shadow: 2px 3px 2px #aaa;
    margin-bottom: 1.5rem;
}
.details_name{
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.details_description{
    text-align: left;
    max-width: 400px;
    color: white;
}
.details_age{
    padding: .2rem .4rem;
   background-color: white;
   box-shadow: 2px 3px 2px #aaa;
}
.details_gender{
    padding: .2rem .4rem;
    background-color: white;
    box-shadow: 2px 3px 2px #aaa;
}
.info_box{
    padding:.2rem .2rem .2rem 0rem;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap:.5rem;
}

.back{
    margin: 1rem 0rem 0rem 1rem;
}
.ri-arrow-left-fill:before {
    font-size: 2.5rem;
    border-radius: 50%;
}
.extra-details a:not(.active){
    border-top: 1px solid rgb(245, 212, 25);
    border-right: 1px solid rgb(245, 212, 25);
    border-left: 1px solid rgb(245, 212, 25)
}
.extra-details .active{
  background-color: rgb(245, 212, 25);
  color: black;
}
.extra-button{
    display: inline-block;
    margin-block-start:2rem;
    background-color: #000;
    color: white;
    padding: .5rem 1rem;
    border: none;
    outline: none;
}

.extra-button:first-child{
    margin-right: 1rem;
}
.details-body{
   position: relative;
}