
.container_table {
  max-width: 1000px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  width: 350px;
}
.table-header {
  display: flex;
  max-width: 100%;
  background: rgb(245, 212, 25);
  color: black;
  padding: 18px 0;
}
.table-row {
    border-bottom: 1px solid transparent;
  display: flex;
  max-width: 100%;
  padding: 18px 0;
  background-color: rgb(230,230,230);
}

  
.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}
.header__item {
  text-transform: uppercase;
}
.filter__link {
  font-size: .9rem;
  color:black;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.filter__link::after {
  content: '';
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: '(desc)';
}
.filter__link.asc::after {
  content: '(asc)';
}
