.header{
    width: 100%;
    padding: 2rem 2rem;
    background-color: rgb(196, 190, 190);
}
.nav{
    display: flex;
    justify-content: flex-start;

}
.header a{
    color: black;
    font-weight: 500;
    padding-left: 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    
}
.header a.active{
    color: #000080;
    border-radius: 2rem;
}