.header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2rem;
    background-color: rgb(196, 190, 190);
}
.nav{
    position: relative;
    display: flex;
    justify-content: flex-start;

}
.header a{
    display: inlin-block;
    color: black;
    text-align: center;
    font-weight: 500;
    margin-left: 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
}
.header a.active{
    color: #000080;
}
.header a.active::before{
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 90%;
    border-radius: 30px;
    height: 2px;
    background-color:#000080;
}
.nav__menu .logout{
    color:  red !important;
}